<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <div th:fragment="content">
    <h2>Produtos</h2>
    <a class="btn btn-primary mb-2" th:href="@{/produtos/novo}">Novo</a>
    <table class="table table-striped">
	        <thead>
	<tr>
	    <th>ID</th>
	    <th>Nome</th>
	    <th>Código de Barras</th>
	    <th>Lote</th>
	    <th>Ações</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="p : ${lista}">
	    <td th:text="${p.id}"></td>
	    <td th:text="${p.nome}"></td>
	    <td th:text="${p.codigoBarras}"></td>
	    <td th:text="${p.idLote}"></td>
	    <td>
                <a th:href="@{|/produtos/editar/${p.id}|}" class="btn btn-sm btn-info">Editar</a>
                <a th:href="@{|/produtos/deletar/${p.id}|}" class="btn btn-sm btn-danger">Excluir</a>
            </td>
	</tr>
	</tbody>

    </table>
</div>
</html>
